<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head',{title: title}); %>
  <body>
    <%- include('../components/header',{cartButtonShow:true , cart_qty : cart_qty }); %>
    <main>
      <section class="product-listing">

        <% if (data.length > 0) { %>

          <% for (let i = 0; i < data.length; i++) { %>
            <!-- Sample Product  -->
          <div class="product">
            <img src="<%= data[i].product_image_url %>" alt="altProduct<%= data[i].id %>" />
            <h2><%= data[i].name %></h2>
            <p><%= data[i].description %></p>
            <p class="price"><%= data[i].currency %><%= data[i].price %></p>            
            <form action="/add-cart" method="post" style="width: 100%" id="form<%= data[i].id %>">
              <input
                type="number"
                style="display: none"
                name="productId"
                id="product_id"
                value="<%= data[i].id%>"
              />
              <button style="display: block; width: 100%" type="submit">
                Add to cart
              </button>
              </form>
          </div>
            <% } %>


           
        <!-- Sample Product  -->
        <!-- <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <button class="add-to-cart">Add to Cart</button>
        </div> -->
      
          <%} else { %>
          <p> No Data Found </p>
          <% } %>

       

        <!-- Add more sample products here -->
      </section>
    </main>
  </body>
</html>
